
body {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #666;
  background-color: #fff;
}

.ant-menu-item {
  border-bottom: 2px solid #404040!important;
}


.ant-menu-horizontal>.ant-menu-item-active, .ant-menu-horizontal>.ant-menu-item-selected, .ant-menu-horizontal>.ant-menu-item:hover, .ant-menu-horizontal>.ant-menu-submenu-active, .ant-menu-horizontal>.ant-menu-submenu-selected, .ant-menu-horizontal>.ant-menu-submenu:hover {
  border-bottom: 2px solid #fff!important;
  color: #fff;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.menu-item-selected, .ant-menu-inline .ant-menu-selected {
  border-right: 2px solid #2db7f5!important;
}
